<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel360 -->
      <package
            uri="http://www.example.org/metamodel360"
            class="metamodel360.Metamodel360Package"
            genModel="model/metamodel360.genmodel"/>
   </extension>

</plugin>
